*~
*.ipynb_checkpoints/
__pycache__
*.png
*.pyc
*.swp
*.swo
*.vscode
*.log
*.xls
*.vscode
*graph
*.pb
*.meta
*.index
*.gv
*.svg
*.out
*.cu
*jpg
*.zip
*.tar.gz
models/
!figures/*
*.csv

# Deep learning related
*.pth
*.caffemodel
train-*
*.wts
*.weights
*.engine

# Processing data files
*.vlw

# ROS related
*.bag
*.pcd
*.bag
build/
install/
devel/
catkin_ws/src/CMakeLists.txt
catkin_ws/.catkin_workspace
catkin_ws/.catkin_tools

# Pedsim model
!catkin_ws/src/simulation/pedsim_ros/pedsim_gazebo_plugin/models
# Pedsim gym test cases
!catkin_ws/src/simulation/pedsim_ros/pedsim_simulator/scenarios/gym_env_config

