<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_namespace" default="walker" />
    <group ns="$(arg robot_namespace)">
        <node pkg="robot_localization" 
              type="ekf_localization_node" 
              name="ekf_se" 
              clear_params="true"
              launch-prefix="bash -c 'sleep 12; $0 $@'">
        <rosparam command="load" file="$(find robot_localization)/params/ekf_walker.yaml" />

        <!--  Placeholder for output topic remapping-->
        <remap from="odometry/filtered" to="odom_filtered"/>
        <!-- <remap from="accel/filtered" to=""/> -->

        </node>
    </group>


</launch>
