<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="motor_disable" default="true" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find walker_description)/urdf/walker.urdf.xacro'" />
    <node name="imu2base" pkg="tf" type="static_transform_publisher" 
            args="0.41 0 0.4 0 0 0
            /base_link /imu_link 20"/>

    <node name="tf_force2base" pkg="tf" type="static_transform_publisher" 
                args="0.16109 0 0.81585 -1.5708 0 0 /base_link /force_sensor_link 2000"/>
    <node name="tf_handrail2force" pkg="tf" type="static_transform_publisher" 
                args="0 0 0.0565 1.5708 0 0 /force_sensor_link /handrail_link 2000"/>
    <node name="tf_mount2base" pkg="tf" type="static_transform_publisher" 
                args="0.24 0 0.535 0 0 0 /base_link /sensor_mount_link 2000"/>
    <node name="tf_estopbase2base" pkg="tf" type="static_transform_publisher" 
                args="0.161 0 0.905 0 0 0 /base_link /estop_base 2000"/>
    <node name="tf_estoptop2estopbase" pkg="tf" type="static_transform_publisher" 
                args="0 0 0.02 0 0 0 /estop_base /estop_topbase 2000"/>
    <node name="tf_estopbt12estopbase" pkg="tf" type="static_transform_publisher" 
                args="0 0 0.012 0 0 0 /estop_topbase /estop_button1 2000"/>
    <node name="tf_estopbt22estopbt1" pkg="tf" type="static_transform_publisher" 
                args="0 0 0.015 0 0 0 /estop_button1 /estop_button2 2000"/>
    <node name="tf_frontleftwheel22base" pkg="tf" type="static_transform_publisher" 
                args="0.39293 0.17843 -0.037217 0 0 0 /base_link /front_left_caster_wheel_link 2000"/>
    <node name="tf_frontrightwheel22base" pkg="tf" type="static_transform_publisher" 
                args="0.39293 -0.17843 -0.037217 0 0 0 /base_link /front_right_caster_wheel_link 2000"/>
    <node name="tf_rearleftwheel22base" pkg="tf" type="static_transform_publisher" 
                args="0 0.301 -0.03 0 0 -1.5708 /base_link /rear_left_wheel_link 2000"/>
    <node name="tf_rearrightwheel22base" pkg="tf" type="static_transform_publisher" 
                args="0 -0.301 -0.03 0 0 -1.5708 /base_link /rear_right_wheel_link 2000"/>


    <!-- Motor driver -->
    <include file="$(find mcbl3006s_drivers)/launch/motor_driver.launch" >
        <arg name="motor_disable" value="$(arg motor_disable)" />
    </include>

    <!-- IMU -->
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

    <!-- EKF -->
    <include file="$(find robot_localization)/launch/ekf_walker.launch" />
    
</launch>